<html>
	<body>
		<center>
		<h1>Welcome to PJU Controller</h1>
		<p>Click button to Turn On/Off PJU</p>
		<button onclick="onoff()">Button</button>
		<p id="status"> Status : unknown <p>
		<script src="static/index.js">
		</script>
		<center>
	<center>
	<table>
		<tr>
			<th>id</th>
			<th>no_gateway</th>
			<th>id_gateway</th>
			<th>no_mc</th>
			<th>id_mc</th>
			<th>tegangan</th>
			<th>arus</th>
			<th>frequensi</th>
			<th>power_factor</th>
			<th>daya</th>
			<th>energi</th>
			<th>status</th>
			<th>waktu</th>
 		</tr>
	</table>
	</center>
	</body>
</html>
